main:has(> footer) {
    display: unset !important;

    footer {
        margin-top: clamp(0.25rem, 10vw, 10rem);
        padding: clamp(2.25rem, 5vw, 5rem) clamp(0.25rem, 2.5vw, 1rem);
        background: $black;
        color: $white;

        .logo {
            span {
                background: $white;
                color: $black;
            }
        }
    }
}