.click-outside {
    &.close {
        background: transparent;
        height: 1000vh;
        pointer-events: all !important;
        position: absolute;
        user-select: all !important;
        width: 100vw;
        z-index: 98;
    }
}

.cart-menu-closed {
    position: fixed;
    right: -50rem;    
    border-left: 1px solid $black;
    background: $white;
    top: 0;
    bottom: 0;
    z-index: 99;
    transition: .2s, box-shadow .1s;
    
    &.cart-menu-open {
        right : 0;
        width: 100%;
        max-width: 450px;
        box-shadow: 0 0 100rem 100vw rgba(0,0,0,.75);
        transition: .2s, box-shadow .1s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        ul {
            flex-grow: 1;
            overflow-y: scroll;
            padding: clamp(0.25rem, 2.5vw, 1rem) 0 clamp(0.25rem, 2.5vw, 1rem) clamp(0.25rem, 2.5vw, 1rem);
        }

        .cart-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: clamp(0.25rem, 2.5vw, 1rem);
            border-bottom: 1px solid $black;

            h2 {
                font-size: 1.25rem;
                text-transform: uppercase;
                font-family: "Roboto-Thin";
            }
        }

        .cart-empty-text {
            margin: auto;
        }

        .cart-total {
            padding: clamp(0.25rem, 2.5vw, 1rem);
            border-top: 1px solid $black;
            display: flex;
            flex-direction: column;
            gap: .5rem;

            p {
                display: flex;
                justify-content: space-between;
            }

            button {
                margin-top: 1rem;
            }
        }
    }
}