.all-paintings-container {
    width: 100%;
    padding: 0 clamp(0.25rem, 2.5vw, 1rem) clamp(0.25rem, 2.5vw, 1rem) clamp(0.25rem, 2.5vw, 1rem);
    position: relative;

    ul {
        padding: clamp(0.25rem, 2.5vw, 1rem) 0 0 0;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        li {
            img {
                filter: invert(1);
                transition: all .2s;
                height: clamp(100px, 25vw, 500px);
                object-fit: cover;
            }
            
            p {
                display: none;
            }

            &:hover, &:focus-within, &:active {
                outline: 3px solid $black;
                
                img {
                    filter: none;
                }
            }

        }
    }
}
