.all-paintings-container {
    width: 100%;
    padding: 0 clamp(0.25rem, 2.5vw, 1rem) clamp(0.25rem, 2.5vw, 1rem) clamp(0.25rem, 2.5vw, 1rem);

    ul {
        margin-top: clamp(0.25rem, 2.5vw, 1rem);
        border: 1px solid red;
    }
}