@import '../variables/variables';

.landing-page-container {
    margin: auto 0;
    padding: 0 clamp(.25rem, 2.5vw, 1rem);

    h1 {
        font-family: "Roboto-Black", Helvetica;
        font-size: clamp(3.625rem, 10vw, 6rem);
        line-height: 1;
        letter-spacing: calc(-.375vw / 2);
    }

    h1, p {
        text-transform: uppercase;
    }
    
    p {
        font-family: "Roboto-Light", Helvetica;
        font-size: clamp(1rem, 3vw, 2rem);
        line-height: 1.375;
    }

    a {
        font-family: "Roboto-LightItalic", Helvetica;
        text-decoration: underline;
        display: inline-block;

        &:hover {
            text-decoration: none;
            transform: skewX(-15deg);
        }

        &:focus-visible, &:active {
            outline: 3px dashed $black;
            background: $black;
            color: $white;
        }
    }
}

@media screen and (min-width: 900px) {
    .landing-page-container {
        p {
            font-family: "Roboto-Thin", Helvetica;
            letter-spacing: calc(-.75vw / 8);
        }

        a {
            font-family: "Roboto-ThinItalic", Helvetica;
        }
    }
}