@import '../variables/variables';

.landing-page-container {
    margin: auto 0;
    padding: 0 clamp(.25rem, 2.5vw, 1rem);

    h1 {
        font-family: "Roboto-Black";
        font-size: clamp(3.625rem, 10vw, 10rem);
        line-height: 1;
    }

    h1, p {
        text-transform: uppercase;
    }
    
    p {
        font-family: "Roboto-Light";
        font-size: clamp(1rem, 5vw, 3rem);
        line-height: 1.375;
    }

    a {
        font-family: "Roboto-LightItalic";
        text-decoration: underline;
        display: inline-block;

        &:hover {
            text-decoration: none;
            transform: skewX(-15deg);
        }

        &:focus-visible, &:active {
            outline: 3px dashed $black;
            background: $black;
            color: $white;
        }
    }
}

@media screen and (min-width: 600px) {
    .landing-page-container {
        p {
            font-family: "Roboto-Thin";
        }

        a {
            font-family: "Roboto-ThinItalic";
        }
    }
}