.painting-information {
    padding: 0 clamp(0.25rem, 2.5vw, 1rem);
    font-size: clamp(.75rem, 1vw, 1rem);
    text-transform: uppercase;
    margin-bottom: 3rem;

    p {
        display: flex;

        span {
            min-width: clamp(6.25rem, 10vw, 7.5rem);
        }
    }
}

.painting-controls-container {
    background: red;
    position: fixed;
    inset: auto 0 0 0;
}

@media screen and (min-width: 768px) {
    .single-painting-container {
        display: flex;

        img, .painting-information {
            width: 50%;
        }

        img {
            object-fit: cover;
        }

        .painting-controls-container {
            inset: auto 0 0 auto;
            width: 50%;
        }
    }
}