.painting-information {
    padding: 0 clamp(0.25rem, 2.5vw, 1rem);
    font-size: clamp(.75rem, 1vw, 1.125rem);
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .single-painting-container {
        display: flex;

        img, .painting-information {
            width: 50%;
        }

        img {
            object-fit: cover;
        }

        .painting-controls-container {
            background: red;
            border: 1px solid red;
            position: fixed;
            bottom: 0;
            right: 0;
            width: 50%;
        }
    }
}