@import '../../node_modules/naiden-css-reset/reset.scss';

#global-alert {
    background: red;
    position: relative;
    
    &::after {
        content: "";
        border: 1px solid black;
        width: 100%;
        position: absolute;
        left: 0;
        background: yellow;
        animation-name: test;
        animation-duration: 3s;
    }
    
    @keyframes test {
        100% {
            width: 0;
        }
    }
}

.active {
    color: red !important;
}