@import '../../node_modules/naiden-css-reset/reset.scss';
@import './fonts/fonts';
@import './variables/variables';

body {
    background: $white;
    color: $black;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 1.25rem;

    .App {
        min-height: 100vh;
        display: flex;
        flex-direction: column;

        main {
            flex-grow: 1;
            display: flex;
        }
    }
}

::selection {
    background: $black;
    color: $white;
}



// pages
@import './pages/landingPage';
@import './pages/singlePainting';

// components
@import './components/header/header';
@import './components/logo/logo';
@import './components/cartmenu/cartmenu';
@import './components/blackbtn/blackbtn';
@import './components/cartitem/cartitem';
@import './components/alert/alert';