*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

img, video, picture, canvas, svg {
  max-width: 100%;
  height: auto;
  display: block;
}

iframe {
  border: none;
}

input, button, textarea, select, optgroup {
  font-family: inherit;
  font-size: inherit;
}

a, button, details, select,
input[type=button],
input[type=checkbox],
input[type=file],
input[type=image],
input[type=radio],
input[type=range],
input[type=reset],
input[type=submit] {
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    transition: none !important;
    animation: none !important;
  }
  html {
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Roboto-Black";
  src: url("./fonts/Roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: "Roboto-BlackItalic";
  src: url("./fonts/Roboto/Roboto-BlackItalic.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("./fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-BoldItalic";
  src: url("./fonts/Roboto/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: "Roboto-Italic";
  src: url("./fonts/Roboto/Roboto-Italic.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("./fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-LightItalic";
  src: url("./fonts/Roboto/Roboto-LightItalic.ttf");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("./fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto-MediumItalic";
  src: url("./fonts/Roboto/Roboto-MediumItalic.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("./fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("./fonts/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto-ThinItalic";
  src: url("./fonts/Roboto/Roboto-ThinItalic.ttf");
}
header {
  padding: 1.25rem;
}

body {
  font-family: "Roboto-Regular";
}

#global-alert {
  background: red;
  position: relative;
}
#global-alert::after {
  content: "";
  border: 1px solid black;
  width: 100%;
  position: absolute;
  left: 0;
  background: yellow;
  animation-name: test;
  animation-duration: 3s;
}
@keyframes test {
  100% {
    width: 0;
  }
}

.active {
  color: green !important;
}

.landing-page-container {
  border: 1px solid red;
}
.landing-page-container h1 {
  font-family: "Roboto-Regular";
  font-size: 22.2222222222vw;
  font-weight: 400;
}
.landing-page-container h1, .landing-page-container p {
  line-height: 1;
}
.landing-page-container p {
  font-family: "Roboto-Thin";
  font-size: 5.5555555556vw;
}

.click-outside.close {
  background: transparent;
  height: 1000vh;
  pointer-events: all !important;
  position: absolute;
  -webkit-user-select: all !important;
     -moz-user-select: all !important;
          user-select: all !important;
  width: 100vw;
  z-index: 98;
}

.cart-menu-closed {
  position: fixed;
  right: -50rem;
  border: 1px solid red;
  background: green;
  top: 0;
  bottom: 0;
  z-index: 99;
  transition: 0.2s, box-shadow 0.1s;
}
.cart-menu-closed.cart-menu-open {
  right: 0;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 0 100rem 100vw rgba(0, 0, 0, 0.75);
  transition: 0.2s, box-shadow 0.1s;
}/*# sourceMappingURL=general.css.map */