@import '../../node_modules/naiden-css-reset/reset.scss';
@import './fonts/fonts';
@import './variables/variables';

body {
    background: $white;
    color: $black;
    font-family: "Roboto-Regular";
    font-size: 1.25rem;

    .App {
        min-height: 100vh;
        display: flex;
        flex-direction: column;

        main {
            flex-grow: 1;
            display: flex;
        }
    }
}

::selection {
    background: $black;
    color: $white;
}

#global-alert {
    background: red;
    position: relative;
    
    &::after {
        content: "";
        border: 1px solid black;
        width: 100%;
        position: absolute;
        left: 0;
        background: yellow;
        animation-name: test;
        animation-duration: 3s;
    }
    
    @keyframes test {
        100% {
            width: 0;
        }
    }
}

// pages
@import './pages/landingPage';

// components
@import './components/header/header';
@import './components/logo/logo';
@import './components/cartmenu/cartmenu';