*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

img, video, picture, canvas, svg {
  max-width: 100%;
  height: auto;
  display: block;
}

iframe {
  border: none;
}

input, button, textarea, select, optgroup {
  font-family: inherit;
  font-size: inherit;
}

a, button, details, select,
input[type=button],
input[type=checkbox],
input[type=file],
input[type=image],
input[type=radio],
input[type=range],
input[type=reset],
input[type=submit] {
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    transition: none !important;
    animation: none !important;
  }
  html {
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Roboto-Black";
  src: url("./fonts/Roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: "Roboto-BlackItalic";
  src: url("./fonts/Roboto/Roboto-BlackItalic.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("./fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-BoldItalic";
  src: url("./fonts/Roboto/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: "Roboto-Italic";
  src: url("./fonts/Roboto/Roboto-Italic.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("./fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-LightItalic";
  src: url("./fonts/Roboto/Roboto-LightItalic.ttf");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("./fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto-MediumItalic";
  src: url("./fonts/Roboto/Roboto-MediumItalic.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("./fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("./fonts/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto-ThinItalic";
  src: url("./fonts/Roboto/Roboto-ThinItalic.ttf");
}
body {
  background: #f9f9f9;
  color: #111;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 1.25rem;
}
body .App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body .App main {
  flex-grow: 1;
  display: flex;
}

::-moz-selection {
  background: #111;
  color: #f9f9f9;
}

::selection {
  background: #111;
  color: #f9f9f9;
}

::-webkit-scrollbar {
  width: 0.375rem;
}

::-webkit-scrollbar-thumb {
  background: rgba(17, 17, 17, 0.875);
}

.text-overflow-fix {
  width: clamp(150px, 25vw, 250px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.state-outline, .black-btn:not([disabled]):active, .black-btn:not([disabled]):focus-visible, header a:is(:active, :focus-visible), header button:is(:active, :focus-visible), .all-paintings-container div input:is(:focus-visible, :active) + span {
  outline: 3px dashed #111;
  outline-offset: 0.125rem;
}

.landing-page-container {
  margin: auto 0;
  padding: 0 clamp(0.25rem, 2.5vw, 1rem);
}
.landing-page-container h1 {
  font-family: "Roboto-Black", Helvetica;
  font-size: clamp(3.625rem, 10vw, 6rem);
  line-height: 1;
  letter-spacing: -0.1875vw;
}
.landing-page-container h1, .landing-page-container p {
  text-transform: uppercase;
}
.landing-page-container p {
  font-family: "Roboto-Light", Helvetica;
  font-size: clamp(1rem, 3vw, 2rem);
  line-height: 1.375;
}
.landing-page-container a {
  font-family: "Roboto-LightItalic", Helvetica;
  text-decoration: underline;
  display: inline-block;
}
.landing-page-container a:hover {
  text-decoration: none;
  transform: skewX(-15deg);
}
.landing-page-container a:focus-visible, .landing-page-container a:active {
  outline: 3px dashed #111;
  background: #111;
  color: #f9f9f9;
}

@media screen and (min-width: 900px) {
  .landing-page-container p {
    font-family: "Roboto-Thin", Helvetica;
    letter-spacing: -0.09375vw;
  }
  .landing-page-container a {
    font-family: "Roboto-ThinItalic", Helvetica;
  }
}
.painting-image {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.painting-information {
  padding: clamp(0.25rem, 2.5vw, 1rem) clamp(0.25rem, 2.5vw, 1rem) 0 clamp(0.25rem, 2.5vw, 1rem);
  font-size: clamp(0.75rem, 1vw, 1rem);
  margin-bottom: 3.875rem;
}
.painting-information h1 {
  font-family: "Roboto-Thin", Helvetica;
  font-size: clamp(1.5rem, 3vw, 1.75rem);
}
.painting-information p {
  display: flex;
}
.painting-information p.painting-artist, .painting-information p.painting-dimensions, .painting-information p.painting-location, .painting-information p.painting-description {
  margin-top: 1.5rem;
}
.painting-information p span {
  min-width: clamp(6.25rem, 10vw, 7.5rem);
  font-family: "Roboto-Medium", Helvetica;
}
.painting-information p span:nth-child(2) {
  min-width: unset;
  font-family: "Roboto-Regular", Helvetica;
}
.painting-information .painting-button-price-wrapper {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.painting-controls-container {
  position: fixed;
  inset: auto 0 0 0;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  text-align: center;
  font-size: clamp(0.75rem, 1vw, 1rem);
  -webkit-backdrop-filter: blur(0.125rem);
          backdrop-filter: blur(0.125rem);
  border-top: 1px solid #111;
}
.painting-controls-container a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: none;
}
.painting-controls-container a span {
  padding: 0 clamp(0.25rem, 2.5vw, 1rem);
  flex-grow: 1;
  transition: 0.2s;
}
.painting-controls-container a.previous-painting {
  border-right: 1px solid #111;
}
.painting-controls-container a img {
  min-width: 3rem;
  min-height: 3rem;
  width: clamp(3rem, 5vw, 4rem);
  height: clamp(3rem, 5vw, 4rem);
  -o-object-fit: cover;
     object-fit: cover;
}
.painting-controls-container a:active, .painting-controls-container a:focus-within {
  outline: none;
  position: relative;
}
.painting-controls-container a:active::before, .painting-controls-container a:active::after, .painting-controls-container a:focus-within::before, .painting-controls-container a:focus-within::after {
  position: absolute;
  content: "";
  border: 2px dashed #111;
}
.painting-controls-container a:active::before, .painting-controls-container a:focus-within::before {
  top: 0;
  bottom: 0;
  right: 0;
}
.painting-controls-container a:active::after, .painting-controls-container a:focus-within::after {
  width: 100%;
  top: -0.375rem;
}
.painting-controls-container a.next-painting:active::before, .painting-controls-container a.next-painting:focus-within::before {
  left: 0;
  right: unset;
}
@media (pointer: fine) {
  .painting-controls-container .arrow {
    width: 1.25rem;
    height: 1.25rem;
    border-top: 0.125rem solid #111;
    border-left: 0.125rem solid #111;
  }
  .painting-controls-container .arrow.cursor-arrow {
    position: absolute;
    transition: transform 0.2s;
  }
  .painting-controls-container .arrow::after {
    content: "";
    display: block;
    width: 0.125rem;
    height: 3rem;
    background: #111;
    transform: rotate(-45deg) translate(1rem, 0.25rem);
  }
}

@media screen and (min-width: 768px) {
  .single-painting-container {
    display: flex;
    width: 100%;
  }
  .single-painting-container img, .single-painting-container .painting-information {
    width: 50%;
  }
  .single-painting-container .painting-image {
    position: absolute;
    z-index: -1;
    top: 0;
    height: 100vh;
  }
  .single-painting-container .painting-information {
    padding: 0 clamp(0.25rem, 2.5vw, 1rem);
    margin-left: auto;
  }
  .single-painting-container .painting-information .painting-information-inner-wrapper {
    max-width: 500px;
  }
  .single-painting-container img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .single-painting-container .painting-controls-container {
    inset: auto 0 0 auto;
    width: 50%;
  }
}
@media screen and (min-width: 768px) and (max-height: 700px) {
  .overflow-wrapper {
    max-height: 300px;
    overflow-y: auto;
  }
}
@media screen and (min-width: 768px) and (min-height: 701px) and (max-height: 960px) {
  .painting-description span:nth-child(2) {
    overflow-y: auto;
    height: 250px;
  }
}
@media screen and (min-width: 768px) and (min-height: 961px) {
  .painting-description span:nth-child(2) {
    max-height: 525px;
    overflow-y: auto;
  }
}
.all-paintings-container {
  width: 100%;
  padding: 0 clamp(0.25rem, 2.5vw, 1rem) clamp(0.25rem, 2.5vw, 1rem) clamp(0.25rem, 2.5vw, 1rem);
  position: relative;
}
.all-paintings-container div {
  padding: clamp(0.5rem, 2.5vw, 1rem) 0;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  text-wrap: nowrap;
}
.all-paintings-container div::-webkit-scrollbar {
  height: 0.125rem;
}
.all-paintings-container div::-webkit-scrollbar-thumb {
  background: rgba(17, 17, 17, 0.25);
}
.all-paintings-container div input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.all-paintings-container div input:is(:hover) + span {
  cursor: pointer;
}
.all-paintings-container div input:checked + span {
  font-family: "Roboto-Bold", Helvetica;
  text-decoration: underline;
}
.all-paintings-container ul {
  padding: clamp(0.25rem, 2.5vw, 1rem) 0 0 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: clamp(1rem, 5vw, 5rem);
}
.all-paintings-container ul li {
  position: relative;
  height: clamp(320px, 30vw, 500px);
}
.all-paintings-container ul li img {
  filter: invert(1);
  transition: all 0.2s;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.all-paintings-container ul li p {
  font-size: clamp(0.75rem, 2vw, 1rem);
  background: #111;
  color: #f9f9f9;
  width: 100%;
  position: absolute;
  top: 50%;
  z-index: -1;
  transform: translate(0, -50%);
  text-align: center;
}
.all-paintings-container ul li:hover, .all-paintings-container ul li:focus-within, .all-paintings-container ul li:active {
  outline: 3px solid #111;
}
.all-paintings-container ul li:hover img, .all-paintings-container ul li:focus-within img, .all-paintings-container ul li:active img {
  filter: none;
}
.all-paintings-container ul li:hover p, .all-paintings-container ul li:focus-within p, .all-paintings-container ul li:active p {
  z-index: 1;
}

@media screen and (min-width: 900px) {
  .all-paintings-container ul {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media screen and (min-width: 1400px) {
  .all-paintings-container ul {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
header {
  padding: clamp(0.25rem, 2.5vw, 1rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header button {
  margin-left: 1rem;
  border: none;
  background: none;
}

main:has(> footer) {
  display: unset !important;
}
main:has(> footer) footer {
  margin-top: clamp(0.25rem, 10vw, 10rem);
  padding: clamp(0.25rem, 2.5vw, 5rem) clamp(0.25rem, 2.5vw, 1rem);
  background: #111;
  color: #f9f9f9;
}
main:has(> footer) footer .logo span {
  background: #f9f9f9;
  color: #111;
}

a[href="/"] {
  color: #f9f9f9;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 1.75rem;
  display: flex;
  align-items: center;
  line-height: 1;
  gap: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: hidden;
}
a[href="/"] span {
  display: grid;
  place-content: center;
  background: #111;
}
a[href="/"] span:first-child {
  height: 2.5rem;
  width: 2.5rem;
  transform: scale(1, 1.2875) translateY(0.25px);
}
a[href="/"] span:not(:first-child) {
  height: 2.5rem;
  padding: 0 0.25rem;
  line-height: 0.875;
  font-family: "Roboto-Medium", Helvetica;
  font-size: 1rem;
}
a[href="/"]:focus-visible, a[href="/"]:active {
  outline: 3px dashed #111;
  outline-offset: 0.125rem;
}

@media screen and (min-width: 768px) {
  a[href="/"].opacity {
    opacity: 0.5;
    transition: opacity 0.2s;
  }
  a[href="/"].opacity:focus-visible, a[href="/"].opacity:active, a[href="/"].opacity:hover {
    opacity: 1;
    transition: opacity 0.2s;
  }
}
.click-outside.close {
  background: transparent;
  height: 1000vh;
  pointer-events: all !important;
  position: absolute;
  -webkit-user-select: all !important;
     -moz-user-select: all !important;
          user-select: all !important;
  width: 100vw;
  z-index: 98;
}

.cart-menu-closed {
  position: fixed;
  right: -60rem;
  border-left: 1px solid #111;
  background: #f9f9f9;
  top: 0;
  bottom: 0;
  z-index: 99;
  transition: 0.275s, box-shadow 0.2s;
  font-size: clamp(0.75rem, 1vw, 1rem);
}
.cart-menu-closed.cart-menu-open {
  right: 0;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 0 100rem 100vw rgba(0, 0, 0, 0.75);
  transition: 0.275s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-menu-closed ul {
  flex-grow: 1;
  overflow-y: auto;
}
.cart-menu-closed .cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: clamp(0.25rem, 2.5vw, 1rem);
  border-bottom: 1px solid #111;
}
.cart-menu-closed .cart-header h2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-family: "Roboto-Thin";
}
.cart-menu-closed .cart-empty-text {
  margin: auto;
}
.cart-menu-closed .cart-total {
  padding: clamp(0.25rem, 2.5vw, 1rem);
  border-top: 1px solid #111;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cart-menu-closed .cart-total .total-price {
  font-family: "Roboto-Medium", Helvetica;
}
.cart-menu-closed .cart-total p {
  display: flex;
  justify-content: space-between;
}
.cart-menu-closed .cart-total button {
  margin-top: 1rem;
}

.black-btn {
  border: 1px solid #111;
  border-radius: 100rem;
  background: #111;
  color: #f9f9f9;
  padding: 0.25rem 0.5rem;
}
.black-btn[disabled] {
  opacity: 0.25;
}

.cart-menu-closed li {
  border-top: 1px solid #111;
  display: flex;
}
.cart-menu-closed li:first-child {
  border-top: unset;
}
.cart-menu-closed li .cart-item-text {
  flex-grow: 1;
  padding: clamp(0.25rem, 2.5vw, 1rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-menu-closed li div:first-child {
  display: flex;
  justify-content: space-between;
}
.cart-menu-closed li img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart-menu-closed li .cart-item-price {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
}
.cart-menu-closed li p, .cart-menu-closed li a, .cart-menu-closed li input {
  font-size: 0.875rem;
}
.cart-menu-closed li a {
  font-family: "Roboto-Medium", Helvetica;
}

@media screen and (max-width: 767px) {
  #global-alert {
    display: none;
  }
}
#global-alert {
  background: #f9f9f9;
  border: 1px solid #111;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 0.25rem;
  color: #111;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 0.25rem 0.5rem;
  font-size: clamp(0.75rem, 1vw, 1rem);
}
#global-alert::after {
  content: "";
  border: 2px solid #111;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation-name: timeToDisappear;
  animation-duration: 3s;
}
@keyframes timeToDisappear {
  100% {
    width: 0;
  }
}/*# sourceMappingURL=general.css.map */