a[href='/'] {
    color: $white;
    font-family: "Roboto-Bold", Helvetica;        
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    line-height: 1;
    gap: 4px;
    user-select: none;
    overflow: hidden;
    width: fit-content;

    span {
        display: grid;
        place-content: center;
        background: $black;
    }

    span:first-child {
        height: 2.5rem;
        width: 2.5rem;
        transform: scale(1, 1.2875) translateY(.25px);
    }

    span:not(:first-child) {
        height: 2.5rem;
        padding: 0 .25rem;
        line-height: .875;
        font-family: "Roboto-Medium", Helvetica;
        font-size: 1rem;
    }

    &:focus-visible, &:active {
        outline: 3px dashed $black;
        outline-offset: .125rem;
    }
}

@media screen and (min-width: 768px) {
    a[href='/'] {
        &.opacity {
            opacity: .5;
            transition: opacity .2s;

            &:focus-visible, &:active, &:hover {
                opacity: 1;
                transition: opacity .2s;
            }
        }
    }
}