@import '../../variables/variables';

header {
    padding: clamp(0.25rem, 2.5vw, 1rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border-bottom: 1px solid $black;

    a[href='/'] {
        background: $black;
        color: $white;
        font-family: "Roboto-Bold";        
        font-size: 1.75rem;
        display: flex;
        align-items: center;
        line-height: 1;
        user-select: none;

        span {
            display: grid;
            place-content: center;
        }

        span:first-child {
            height: 2.5rem;
            width: 2.5rem;
            transform: scale(1, 1.25);
        }

        span:not(:first-child) {
            height: 2.5rem;
            padding: 0 .25rem;
            line-height: .875;
            border-left: .25rem solid $white;
            font-family: "Roboto-Medium";
            font-size: 1rem;
        }
    }

    button {
        margin-left: 1rem;
        border: none;
        background: none;
    }   
}