@import '../../variables/variables';

header {
    padding: clamp(0.25rem, 2.5vw, 1rem);
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        margin-left: 1rem;
        border: none;
        background: none;
    }   
}