@import '../../variables/variables';

header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $black;

    a[href='/'] {
        text-transform: uppercase;
    }

    button {
        margin-left: 1rem;
        border: none;
        background: none;
    }   
}