.black-btn {
    border: 1px solid $black;
    border-radius: 100rem;
    background: $black;
    color: $white;
    padding: .25rem .5rem;

    &:not([disabled]):active, &:not([disabled]):focus-visible {
        @extend .state-outline;
    }

    &[disabled] {
        opacity: .25;
    }
}