.cart-menu-closed {
    li {
        display: flex;
        border-top: 1px solid $black;

        &:first-child {
            border-top: unset;
        }

        .cart-item-text {
            flex-grow: 1;
            padding: clamp(0.25rem, 2.5vw, 1rem);
        }

        div:first-child {
            display: flex;
            justify-content: space-between;
        }

        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }

        .cart-item-price {
            // margin-top: clamp(0.25rem, 2.5vw, 1rem);
            margin-top: .5rem;
            display: flex;
            align-items: center;
            line-height: 1;
        }
        
        .cart-item-name {
            width: clamp(100px, 15vw, 250px);
            overflow:hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        p, input {
            font-size: .875rem;
        }

        input {
            margin: 0 clamp(0.25rem, 2.5vw, 1rem);
        }
    }
}