.cart-menu-closed {
    li {        
        border-top: 1px solid $black;
        display: flex;

        &:first-child {
            border-top: unset;
        }

        .cart-item-text {
            flex-grow: 1;
            padding: clamp(0.25rem, 2.5vw, 1rem);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        div:first-child {
            display: flex;
            justify-content: space-between;
        }

        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }

        .cart-item-price {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            line-height: 1;
        }

        p, a, input {
            font-size: .875rem;
            font-size: clamp(0.75rem, 1vw, 1rem);
        }

        a {
            font-family: "Roboto-Medium", Helvetica;
        }
    }
}